body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 169, 206, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:49px;
  top:79px;
  width:282px;
  height:500px;
}
#u69 {
  position:absolute;
  left:2px;
  top:242px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 169, 206, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:599px;
  top:79px;
  width:282px;
  height:500px;
}
#u71 {
  position:absolute;
  left:2px;
  top:242px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:498px;
}
#u72 {
  position:absolute;
  left:600px;
  top:80px;
  width:280px;
  height:498px;
}
#u73 {
  position:absolute;
  left:2px;
  top:241px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u74 {
  position:absolute;
  left:615px;
  top:172px;
  width:62px;
  height:62px;
}
#u75 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u76 {
  position:absolute;
  left:678px;
  top:172px;
  width:62px;
  height:62px;
}
#u77 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u78 {
  position:absolute;
  left:741px;
  top:172px;
  width:62px;
  height:62px;
}
#u79 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u80 {
  position:absolute;
  left:804px;
  top:172px;
  width:62px;
  height:62px;
}
#u81 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u82 {
  position:absolute;
  left:615px;
  top:235px;
  width:62px;
  height:62px;
}
#u83 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u84 {
  position:absolute;
  left:678px;
  top:235px;
  width:62px;
  height:62px;
}
#u85 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u86 {
  position:absolute;
  left:741px;
  top:235px;
  width:62px;
  height:62px;
}
#u87 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u88 {
  position:absolute;
  left:804px;
  top:235px;
  width:62px;
  height:62px;
}
#u89 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u90 {
  position:absolute;
  left:615px;
  top:352px;
  width:62px;
  height:62px;
}
#u91 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u92 {
  position:absolute;
  left:678px;
  top:352px;
  width:62px;
  height:62px;
}
#u93 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u94 {
  position:absolute;
  left:741px;
  top:352px;
  width:62px;
  height:62px;
}
#u95 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u96 {
  position:absolute;
  left:804px;
  top:352px;
  width:62px;
  height:62px;
}
#u97 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u98 {
  position:absolute;
  left:615px;
  top:415px;
  width:62px;
  height:62px;
}
#u99 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u100 {
  position:absolute;
  left:678px;
  top:415px;
  width:62px;
  height:62px;
}
#u101 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u102 {
  position:absolute;
  left:741px;
  top:415px;
  width:62px;
  height:62px;
}
#u103 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u104 {
  position:absolute;
  left:804px;
  top:415px;
  width:62px;
  height:62px;
}
#u105 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u106 {
  position:absolute;
  left:615px;
  top:478px;
  width:62px;
  height:62px;
}
#u107 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u108 {
  position:absolute;
  left:678px;
  top:478px;
  width:62px;
  height:62px;
}
#u109 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u110 {
  position:absolute;
  left:741px;
  top:478px;
  width:62px;
  height:62px;
}
#u111 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u112 {
  position:absolute;
  left:804px;
  top:478px;
  width:62px;
  height:62px;
}
#u113 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:132px;
  top:21px;
  width:116px;
  height:33px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:682px;
  top:21px;
  width:116px;
  height:33px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:498px;
}
#u118 {
  position:absolute;
  left:50px;
  top:80px;
  width:280px;
  height:498px;
}
#u119 {
  position:absolute;
  left:2px;
  top:241px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u120 {
  position:absolute;
  left:52px;
  top:125px;
  width:68px;
  height:68px;
}
#u121 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u122 {
  position:absolute;
  left:122px;
  top:125px;
  width:68px;
  height:68px;
}
#u123 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u124 {
  position:absolute;
  left:191px;
  top:125px;
  width:68px;
  height:68px;
}
#u125 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u126 {
  position:absolute;
  left:261px;
  top:125px;
  width:68px;
  height:68px;
}
#u127 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u128 {
  position:absolute;
  left:52px;
  top:195px;
  width:68px;
  height:68px;
}
#u129 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u130 {
  position:absolute;
  left:122px;
  top:195px;
  width:68px;
  height:68px;
}
#u131 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u132 {
  position:absolute;
  left:191px;
  top:195px;
  width:68px;
  height:68px;
}
#u133 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u134 {
  position:absolute;
  left:261px;
  top:195px;
  width:68px;
  height:68px;
}
#u135 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u136 {
  position:absolute;
  left:52px;
  top:265px;
  width:68px;
  height:68px;
}
#u137 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u138 {
  position:absolute;
  left:122px;
  top:265px;
  width:68px;
  height:68px;
}
#u139 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u140 {
  position:absolute;
  left:191px;
  top:265px;
  width:68px;
  height:68px;
}
#u141 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u142 {
  position:absolute;
  left:261px;
  top:265px;
  width:68px;
  height:68px;
}
#u143 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u144 {
  position:absolute;
  left:52px;
  top:335px;
  width:68px;
  height:68px;
}
#u145 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u146 {
  position:absolute;
  left:122px;
  top:335px;
  width:68px;
  height:68px;
}
#u147 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u148 {
  position:absolute;
  left:191px;
  top:335px;
  width:68px;
  height:68px;
}
#u149 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u150 {
  position:absolute;
  left:261px;
  top:335px;
  width:68px;
  height:68px;
}
#u151 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u152 {
  position:absolute;
  left:52px;
  top:404px;
  width:68px;
  height:68px;
}
#u153 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u154 {
  position:absolute;
  left:122px;
  top:404px;
  width:68px;
  height:68px;
}
#u155 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u156 {
  position:absolute;
  left:191px;
  top:404px;
  width:68px;
  height:68px;
}
#u157 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u158 {
  position:absolute;
  left:261px;
  top:404px;
  width:68px;
  height:68px;
}
#u159 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u160 {
  position:absolute;
  left:52px;
  top:474px;
  width:68px;
  height:68px;
}
#u161 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u162 {
  position:absolute;
  left:122px;
  top:474px;
  width:68px;
  height:68px;
}
#u163 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u164 {
  position:absolute;
  left:191px;
  top:474px;
  width:68px;
  height:68px;
}
#u165 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u166 {
  position:absolute;
  left:261px;
  top:474px;
  width:68px;
  height:68px;
}
#u167 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:184px;
  height:22px;
}
#u168p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:175px;
  height:2px;
}
#u168p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:186px;
  height:22px;
}
#u168p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u168p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u168p002 {
  position:absolute;
  left:157px;
  top:-10px;
  width:22px;
  height:22px;
}
#u168p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u168.compound {
  width:0px;
  height:0px;
}
#u168 {
  position:absolute;
  left:381px;
  top:465px;
  width:173px;
  height:2px;
}
#u169 {
  position:absolute;
  left:2px;
  top:-7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:228px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u170 {
  position:absolute;
  left:392px;
  top:203px;
  width:145px;
  height:228px;
  color:#FFFFFF;
  text-align:left;
}
#u171 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
