body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:882px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 169, 206, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:599px;
  top:79px;
  width:283px;
  height:501px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 169, 206, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:49px;
  top:79px;
  width:283px;
  height:501px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:498px;
}
#u4 {
  position:absolute;
  left:50px;
  top:80px;
  width:280px;
  height:498px;
}
#u5 {
  position:absolute;
  left:2px;
  top:241px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:132px;
  top:21px;
  width:116px;
  height:33px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:682px;
  top:21px;
  width:116px;
  height:33px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u10 {
  position:absolute;
  left:190px;
  top:185px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u12 {
  position:absolute;
  left:50px;
  top:185px;
  width:70px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u14 {
  position:absolute;
  left:120px;
  top:185px;
  width:70px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u16 {
  position:absolute;
  left:50px;
  top:293px;
  width:70px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u18 {
  position:absolute;
  left:120px;
  top:293px;
  width:70px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u20 {
  position:absolute;
  left:190px;
  top:402px;
  width:70px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u22 {
  position:absolute;
  left:50px;
  top:402px;
  width:70px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u24 {
  position:absolute;
  left:120px;
  top:402px;
  width:70px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u26 {
  position:absolute;
  left:260px;
  top:402px;
  width:70px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u28 {
  position:absolute;
  left:50px;
  top:472px;
  width:70px;
  height:70px;
}
#u29 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:498px;
}
#u30 {
  position:absolute;
  left:600px;
  top:80px;
  width:280px;
  height:498px;
}
#u31 {
  position:absolute;
  left:2px;
  top:241px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u32 {
  position:absolute;
  left:740px;
  top:185px;
  width:70px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u34 {
  position:absolute;
  left:600px;
  top:185px;
  width:70px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u36 {
  position:absolute;
  left:670px;
  top:185px;
  width:70px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u38 {
  position:absolute;
  left:600px;
  top:293px;
  width:70px;
  height:70px;
}
#u39 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u40 {
  position:absolute;
  left:670px;
  top:293px;
  width:70px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u42 {
  position:absolute;
  left:740px;
  top:402px;
  width:70px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u44 {
  position:absolute;
  left:600px;
  top:402px;
  width:70px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u46 {
  position:absolute;
  left:670px;
  top:402px;
  width:70px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u48 {
  position:absolute;
  left:810px;
  top:402px;
  width:70px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u50 {
  position:absolute;
  left:600px;
  top:472px;
  width:70px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:184px;
  height:22px;
}
#u52p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:175px;
  height:2px;
}
#u52p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:186px;
  height:22px;
}
#u52p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u52p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u52p002 {
  position:absolute;
  left:157px;
  top:-10px;
  width:22px;
  height:22px;
}
#u52p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u52.compound {
  width:0px;
  height:0px;
}
#u52 {
  position:absolute;
  left:381px;
  top:425px;
  width:173px;
  height:2px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-7px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:132px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u54 {
  position:absolute;
  left:392px;
  top:259px;
  width:145px;
  height:132px;
  color:#FFFFFF;
  text-align:left;
}
#u55 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
